@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  background-color: #eae5ec;
  color: #674c45;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

section {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

button {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #674c45;
  cursor: pointer;
  border-radius: 4%;
}

button:hover {
  background-color: hsl(285, 21%, 74%);
}

label {
  font-size: 20px;
  margin-block: 10px;
  font-weight: 500;
}
