@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  background-color: #eae5ec;
  color: #674c45;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

button {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #674c45;
  cursor: pointer;
  border-radius: 4%;
}

button:hover {
  background-color: hsl(285, 21%, 74%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  //   align-items: center;
}

section {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

.categories {
  margin-top: 20px;
  display: flex;

  flex-wrap: wrap;
  column-gap: 40px;
}

.category {
  display: block;
  padding: 10px 15px;
  margin: 15px auto;
  width: 400px;

  h3 {
    background-color: transparent;
  }

  .added--item {
    display: flex;
    column-gap: 4px;
    align-items: center;
    background-color: transparent;
    p,
    h3 {
      background-color: transparent;
      margin-block: 5px;
    }

    .icon {
      background-color: transparent;
      cursor: pointer;
      font-size: 17px;
      :hover {
        color: #44312d;
      }
    }
  }
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.color--food {
  background: #78929c;
  height: 100%;
}

.color--clothes {
  background-color: #d6c7c7;
}

.color--beauty {
  background-color: #a79aad;
}

.color--leisure {
  background-color: #ccb2b5;
}

.color--travel {
  background-color: #e4d5b7;
}

.color--internet {
  background-color: #eed9c4;
}

.color--credit {
  background-color: #faf0e6;
}

.color--technique {
  background-color: #e6d7ff;
}

.color--transport {
  background-color: #e1c4ff;
}

label {
  font-size: 20px;
  margin-block: 10px;
  font-weight: 500;
}

input,
select {
  margin-block: 5px;
  border: 2px solid #674c45;
  padding: 12px 7px;
  border-radius: 4px;
  font-size: 20px;
}

// select{
//   border: 2px solid #674c45;
// }
